Repository dbbuilder/mcpvault, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mcpvault/developers, @mcpvault/documentation-team, @mcpvault/devops, @mcpvault/database-team, @mcpvault/security-team, @mcpvault/architects

feat: implement organization management endpoints
  src/MCPVault.API/Controllers/OrganizationsController.cs
  src/MCPVault.API/DTOs/OrganizationDtos.cs
  src/MCPVault.API/Program.cs
  src/MCPVault.Core/Interfaces/IOrganizationRepository.cs
  src/MCPVault.Infrastructure/Repositories/OrganizationRepository.cs
  tests/MCPVault.API.Tests/Controllers/OrganizationsControllerTests.cs
  tests/MCPVault.Infrastructure.Tests/Repositories/OrganizationRepositoryTests.cs
Owners: @mcpvault/developers, @mcpvault/architects

feat: implement comprehensive authorization framework with RBAC
  TODO.md
  src/MCPVault.API/Program.cs
  src/MCPVault.Core/Authorization/Attributes/AuthorizeDynamicAttribute.cs
  src/MCPVault.Core/Authorization/Attributes/AuthorizeResourceAttribute.cs
  src/MCPVault.Core/Authorization/AuthorizationService.cs
  src/MCPVault.Core/Authorization/Handlers/PermissionAuthorizationHandler.cs
  src/MCPVault.Core/Authorization/Middleware/AuthorizationMiddleware.cs
  src/MCPVault.Core/Authorization/Models/AuthorizationModels.cs
  src/MCPVault.Core/Interfaces/IAuditService.cs
  src/MCPVault.Core/Interfaces/IAuthorizationService.cs
  src/MCPVault.Core/Interfaces/IKeyVaultService.cs
  src/MCPVault.Core/Interfaces/IMcpServerRepository.cs
  src/MCPVault.Core/Interfaces/IPermissionRepository.cs
  src/MCPVault.Core/Interfaces/IUserRepository.cs
  src/MCPVault.Core/MCP/Exceptions/McpExceptions.cs
  src/MCPVault.Core/MCP/McpProxyService.cs
  src/MCPVault.Core/MCP/Models/McpModels.cs
  src/MCPVault.Core/MCPVault.Core.csproj
  src/MCPVault.Domain/Entities/User.cs
  tests/MCPVault.Core.Tests/Authorization/AuthorizationServiceTests.cs
  tests/MCPVault.Core.Tests/MCP/McpProxyServiceTests.cs
  tests/MCPVault.Core.Tests/Mocks/MockImplementations.cs
Owners: @mcpvault/documentation-team, @mcpvault/developers, @mcpvault/architects

docs: update TODO.md to reflect completed authorization and MCP proxy tasks
  TODO.md
Owners: @mcpvault/documentation-team, @mcpvault/developers

feat: implement permission repository with comprehensive data access layer
  src/MCPVault.Infrastructure/Repositories/PermissionRepository.cs
  tests/MCPVault.Infrastructure.Tests/Repositories/PermissionRepositoryTests.cs
Owners: @mcpvault/developers

feat: implement TOTP-based multi-factor authentication service
  src/MCPVault.Core/Authentication/MfaService.cs
  src/MCPVault.Core/Authentication/MfaSettings.cs
  src/MCPVault.Core/Interfaces/IMfaService.cs
  src/MCPVault.Core/MCPVault.Core.csproj
  tests/MCPVault.Core.Tests/Authentication/MfaServiceTests.cs
Owners: @mcpvault/architects, @mcpvault/developers

feat: implement authentication service and auth controller
  src/MCPVault.API/Controllers/AuthController.cs
  src/MCPVault.API/Models/AuthDtos.cs
  src/MCPVault.API/Program.cs
  src/MCPVault.Core/Authentication/AuthenticationService.cs
  src/MCPVault.Core/Authentication/IJwtTokenService.cs
  src/MCPVault.Core/Authentication/JwtTokenService.cs
  src/MCPVault.Core/Interfaces/IAuthenticationService.cs
  src/MCPVault.Core/MCPVault.Core.csproj
  src/MCPVault.Core/Services/AuditService.cs
  src/MCPVault.Infrastructure/Repositories/UserRepository.cs
  tests/MCPVault.API.Tests/Controllers/AuthControllerTests.cs
  tests/MCPVault.Core.Tests/Authentication/AuthenticationServiceTests.cs
Owners: @mcpvault/developers, @mcpvault/architects

test: simplify auth controller tests
  src/MCPVault.API/Controllers/AuthController.cs
  tests/MCPVault.API.Tests/Controllers/AuthControllerTests.cs
Owners: @mcpvault/developers

docs: update TODO.md to reflect completed authentication tasks
  TODO.md
Owners: @mcpvault/documentation-team, @mcpvault/developers

fix: add HttpContext setup to auth controller tests
  tests/MCPVault.API.Tests/Controllers/AuthControllerTests.cs
Owners: @mcpvault/developers

feat: implement encryption service with AES-256-GCM
  src/MCPVault.Core/Configuration/EncryptionSettings.cs
  src/MCPVault.Core/Interfaces/IEncryptionService.cs
  src/MCPVault.Core/Security/CryptographicException.cs
  src/MCPVault.Core/Security/EncryptedData.cs
  src/MCPVault.Core/Security/EncryptionService.cs
  tests/MCPVault.Core.Tests/Security/EncryptionServiceTests.cs
Owners: @mcpvault/architects, @mcpvault/developers

feat: implement MCP client with JSON-RPC communication
  src/MCPVault.Core/Interfaces/IMcpClient.cs
  src/MCPVault.Core/MCP/McpClient.cs
  src/MCPVault.Core/MCP/McpClientModels.cs
  tests/MCPVault.Core.Tests/MCP/McpClientTests.cs
Owners: @mcpvault/architects, @mcpvault/developers

feat: implement comprehensive user management API
  src/MCPVault.API/Controllers/UserController.cs
  src/MCPVault.API/Program.cs
  src/MCPVault.Core/DTOs/UserDtos.cs
  src/MCPVault.Core/Exceptions/CoreExceptions.cs
  src/MCPVault.Core/Interfaces/IRoleRepository.cs
  src/MCPVault.Core/Interfaces/IUserService.cs
  src/MCPVault.Core/Services/UserService.cs
  src/MCPVault.Infrastructure/Repositories/RoleRepository.cs
  tests/MCPVault.API.Tests/Controllers/UserControllerTests.cs
  tests/MCPVault.Core.Tests/Services/UserServiceTests.cs
Owners: @mcpvault/developers, @mcpvault/architects

feat: implement pluggable key vault integration framework
  src/MCPVault.Core/Interfaces/IKeyVaultManager.cs
  src/MCPVault.Core/Interfaces/IKeyVaultProvider.cs
  src/MCPVault.Core/Interfaces/IKeyVaultProviderFactory.cs
  src/MCPVault.Core/KeyVault/KeyVaultManager.cs
  src/MCPVault.Core/KeyVault/KeyVaultProviderFactory.cs
  src/MCPVault.Core/KeyVault/Models/KeyVaultModels.cs
  src/MCPVault.Core/KeyVault/Providers/AwsSecretsManagerProvider.cs
  src/MCPVault.Core/KeyVault/Providers/AzureKeyVaultProvider.cs
  src/MCPVault.Core/KeyVault/Providers/GcpSecretManagerProvider.cs
  src/MCPVault.Core/KeyVault/Providers/HashiCorpVaultProvider.cs
  src/MCPVault.Core/KeyVault/Providers/LocalKeyVaultProvider.cs
  tests/MCPVault.Core.Tests/KeyVault/KeyVaultManagerTests.cs
  tests/MCPVault.Core.Tests/KeyVault/KeyVaultProviderTests.cs
  tests/MCPVault.Core.Tests/KeyVault/Providers/LocalKeyVaultProviderTests.cs
Owners: @mcpvault/architects, @mcpvault/developers

feat: implement MCP server registry with multi-provider support
  src/MCPVault.API/Controllers/BaseController.cs
  src/MCPVault.API/Controllers/McpServersController.cs
  src/MCPVault.API/Models/Requests/McpServerRequests.cs
  src/MCPVault.API/Models/Responses/McpServerResponse.cs
  src/MCPVault.API/Models/Responses/PagedResponse.cs
  src/MCPVault.Core/Interfaces/IMcpClient.cs
  src/MCPVault.Core/Interfaces/IMcpServerRegistry.cs
  src/MCPVault.Core/Interfaces/IMcpServerRepository.cs
  src/MCPVault.Core/MCP/Mappers/McpServerMapper.cs
  src/MCPVault.Core/MCP/McpClient.cs
  src/MCPVault.Core/MCP/McpProxyService.cs
  src/MCPVault.Core/MCP/McpServerRegistry.cs
  src/MCPVault.Core/MCP/Models/McpServerModels.cs
  src/MCPVault.Domain/Entities/McpServer.cs
  src/MCPVault.Domain/Interfaces/IMcpServerRepository.cs
  src/MCPVault.Domain/Models/McpServerFilter.cs
  tests/MCPVault.Core.Tests/MCP/McpProxyServiceTests.cs
  tests/MCPVault.Core.Tests/MCP/McpServerRegistryTests.cs
  tests/MCPVault.Core.Tests/Mocks/MockImplementations.cs
Owners: @mcpvault/developers, @mcpvault/architects

feat: complete SaaS landing page with assets and Vercel deployment
  site/.gitignore
  site/css/custom.css
  site/favicon.svg
  site/images/logo.svg
  site/index.html
  site/js/main.js
  site/package.json
  site/robots.txt
  site/sitemap.xml
  site/vercel.json
Owners: @mcpvault/developers

Polish landing page with Tailwind UI design
  site/index-backup.html
  site/index.html
  site/sitemap.xml
Owners: @mcpvault/developers

Complete site polish with full content and visual elements
  site/images/company-1.svg
  site/images/company-2.svg
  site/images/company-3.svg
  site/images/company-4.svg
  site/images/company-5.svg
  site/index.html
Owners: @mcpvault/developers

Complete comprehensive site polish
  site/images/icon-compliance.svg
  site/images/icon-monitoring.svg
  site/images/icon-shield.svg
  site/images/partner-openai.svg
  site/index.html
Owners: @mcpvault/developers

Fix all broken links and add missing pages
  site/blog.html
  site/contact.html
  site/demo.html
  site/docs.html
  site/index.html
Owners: @mcpvault/developers

.github/CODEOWNERS:

# MCPVault Code Owners
# These owners will be the default owners for everything in the repo

# Global owners
* @mcpvault/developers

# Documentation
*.md @mcpvault/documentation-team @mcpvault/developers
/docs/ @mcpvault/documentation-team

# CI/CD
/.github/ @mcpvault/devops @mcpvault/developers
/scripts/ @mcpvault/devops @mcpvault/developers
Dockerfile @mcpvault/devops @mcpvault/developers
docker-compose.yml @mcpvault/devops @mcpvault/developers

# Database
/dbbuilder/ @mcpvault/database-team @mcpvault/developers
*.sql @mcpvault/database-team

# Security-sensitive files
/src/MCPVault.Core/Authentication/ @mcpvault/security-team @mcpvault/developers
/src/MCPVault.Infrastructure/Security/ @mcpvault/security-team @mcpvault/developers
**/appsettings*.json @mcpvault/security-team @mcpvault/devops

# Architecture
/src/MCPVault.Domain/ @mcpvault/architects @mcpvault/developers
/src/MCPVault.Core/ @mcpvault/architects @mcpvault/developers
